/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #d6d6d6;
  
}

h1 {
  font-size: 45px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}
h1:hover {
  color: transparent; /* Make text transparent */
  -webkit-text-stroke: 1px rgb(0, 0, 0); /* Create white stroke around text */
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 50px;
  background: #d6d6d6;
  box-shadow:  5px 5px 10px #b6b6b6,
               -5px -5px 10px #f6f6f6;
  
}

.letter.visible {
  opacity: 1;
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-section {
  margin-bottom: 30px;
}

.restart-button,
.remove-button {
  padding: 12px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 32px;
background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
box-shadow:  10px 10px 20px #b6b6b6,
             -10px -10px 20px #f6f6f6;
}

.remove-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.restart-button:hover,
.remove-button:hover {
  background-color: #d32f2f;
  scale: 0.9;
}

.restart-button:focus,
.remove-button:focus {
  outline: none;
}

.letter-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.letter-button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50px;
background: #d6d6d6;
box-shadow: inset 4px 4px 8px #b6b6b6,
            inset -4px -4px 8px #f6f6f6;}

.letter-button:hover{
  scale: 0.9;
}

.letter-button.selected {
  background-color: #1976d2;
}

.letter-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hints {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.hint-button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 32px;
background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
box-shadow:  10px 10px 20px #b6b6b6,
             -10px -10px 20px #f6f6f6;
}

.hint-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hint-button:hover {
  background-color: #388e3c;
  scale: 0.9;
}

.hint-button:focus {
  outline: none;
}

.message {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.guess-button {
  padding: 12px 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 32px;
background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
box-shadow:  10px 10px 20px #b6b6b6,
             -10px -10px 20px #f6f6f6;
}

.guess-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.guess-button:hover {
  background-color: #e64a19;
  scale: 0.9;
}

.guess-button:focus {
  outline: none;
}
.word-description {
  font-size: 18px;
  font-style: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
